/*
 * Estilos reutilizables
 */
*/
.m-0{
	font-size: 30px;
}
 .mb-0 {
 	margin-bottom: 0;
 }

 .mt-0 {
 	margin-top: 0;
 }

 .text-uppercase {
 	text-transform: uppercase;
 }

 .link{
 	font-weight: 700;
 	padding: 21px;
 	display: inline-block;
 }

 .start-logo{
 	float: right;
 }

 .menu-container{
 	padding: 14px 70px;
 	overflow: auto;
 	display: inline-block;
 }


 [class*="col-"]{
 	min-height: 7px;
 	float: left;
 	padding: 12px;
 }

 .col-4{
 	/*(4/12)*100*/
 	width: 33.333333%;
 	padding-top: 63px;
 	text-align: center;
 }

.col-6{
	/*(6/12)*100*/
	width: 50%;
	padding-top: 63px;
 	text-align: center;
 
}
.col-12{
	/*(12/12)*100*/
	width: 100%;

}
.img-responsive{
	max-width: 100%;
	width: 100%;
}