/* Estilos de tu proyecto */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	/* Establece la fuente de Google aquí */
	font-family: 'Montserrat', sans-serif;
	margin: 0 auto;
	font-size: 16px;
	color: whitesmoke;

}

.menu {
	padding: 14px 70px;
	overflow: auto;

}

.container{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

h2 .logo {
	/*float:left;*/
	display: inline-block;
	margin-left: 50px;
	width:500px;

}
.links{
	padding-left:900px;
}

a {
	color: #373B47;
	text-decoration: none;
	/*float: right;*/
	color: whitesmoke;
}

a:hover {
	color: #18BC9C;
}

.link{
	font-weight: 700;
	padding: 21px;
	display: inline-block;  
}

/*ul li{
	display: inline-block;/* crea cajas de bloque y en linea de forma simultanea 
	right: 30px;
}
*/
header {
	position:fixed;
	background-color: #2C3E50;
	width: 100%;
	top: 0;
	color: whitesmoke;
	z-index: 1000;
}
/* HOME */

#home{

	background-color: #18BC9C;
	background-position:center;
	background-repeat: no-repeat;
	background-size:cover;
	height: 630px;
	text-align: center;
	margin-top: 120px;
	font-weight: bolder ;
}

.img-home {
	margin-top: 150px;
}

#home h2 {
	color: whitesmoke;
	font-size: 40px;
}

#home p {
	color: whitesmoke;
}

.linea{
	height: 5px;
	width: 10%;
	margin-top: -20px;
	background-color: white;
	display: inline-block;
}

.estrella{
	background-color: white;

}

/* PORTFOLIO */

.text-portfolio{
	color:#2C3E50;
	text-align:center;
	padding-top: 50px;
	
}
#portfolio h3{
	font-weight: bolder;
}

#portfolio .linea{
	background-color:#2C3E50;

}

.box-portfolio {
	padding: 0 50px;
}
/* ABOUT */

.text-about { 
	color: white;
	text-align: center;
}

#about{
	background-color: #18BC9C;
	background-position:center;
	background-repeat: no-repeat;
	background-size:cover;
	height: -630px;
	text-align: center;
	padding-top: 120px;
}
.container h3{
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 20px;
}

/* CONTACT ME */

#contact-me{
	border:none;
	text-align:center;
}

input::-webkit-input-placeholder {
	color: #d0cecd ;
	font-size: 15px;
}
input:-moz-placeholder {
	color: #d0cecd ;
}
input:-ms-input-placeholder {
	color: #d0cecd ;
}

input[type]{
	display:block;
	width: 600px;
	height: 40px;
	margin-top: 20px;
	margin-left: 60px;
	border: none;
	border-bottom: 2px solid #d0cecd ;/*darle color a la línea de mi input*/

}

input[type]:focus{
	outline:0px;
}

textarea[type=text]{
	display:block;
	width: 600px;
	height: 40px;
	margin-top: 20px;
	margin-left: 60px;
	border: none;
	border-bottom: 2px solid #d0cecd ;/*darle color a la línea de mi input*/
}

textarea[type=text]{
	outline: 0px;
}

.contact-form{
	text-align:center;
}

footer {
	background-color: #2C3E50;
	padding: 20px;
}

footer p{
	color: white;
	text-align:center;
}